/*   Theme default css */

/* ======font family=========
font-family: 'Aber Mono';
font-family: 'Nohemi';
*/
@font-face {
	font-family: "Nohemi-normal";
	src: url(../font/Nohemi-Regular.ttf) format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

:root {
	--fontAberMono: "Aber Mono", sans-serif;
	--fontNohemi: "Nohemi", sans-serif;

	--blueColor: #3c06ec;
	--ylwColor: #c5f060;
	--colorDB: #f2dcdb;
	--colorD1: #aaf0d1;
	--redColor: #fc546d;
	--darkRedColor: #74070e;
	--thmWhite: #fcf8f8;
	--thmBlack: #191436;
	--black: #000;

	--f18: 18px;
	--f20: 20px;
	--f22: 22px;
	--f24: 24px;
	--f28: 28px;
	--f30: 30px;
	--f32: 32px;
	--f36: 36px;
	--f40: 40px;
	--f48: 48px;
	--f56: 56px;
}

body {
	font-weight: 400;
	font-size: 16px;
	margin: 0;
	padding: 0;
	font-family: "Nohemi-normal";
	color: #000;
	background: var(--thmWhite);
}

img {
	max-width: 100%;
}

button {
	cursor: pointer;
	border: none;
	padding: 0;
	background: none;
}

a:focus,
button:focus {
	text-decoration: none;
	outline: none;
}

a:focus,
a:hover {
	text-decoration: none;
}

a,
button {
	color: inherit;
	outline: medium none;
	text-decoration: none;
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
	outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0px;
	font-weight: 500;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}

h1 {
	font-size: var(--f48);
}

h2 {
	font-size: 35px;
}

h3 {
	font-size: var(--f30);
}

h4 {
	font-size: 22px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

ul {
	margin: 0px;
	padding: 0px;
}

li {
	list-style: none;
}

.pb_150 {
	padding-bottom: 150px;
}
.pb_100 {
	padding-bottom: 100px;
}
.pb_50 {
	padding-bottom: 50px;
}
.pt_150 {
	padding-top: 150px;
}
.pt_100 {
	padding-top: 100px;
}
.pt_50 {
	padding-top: 50px;
}

.mb_150 {
	margin-bottom: 150px;
}
.mb_100 {
	margin-bottom: 100px;
}
.mb_50 {
	margin-bottom: 50px;
}
.mt_150 {
	margin-top: 150px;
}
.mt_100 {
	margin-top: 100px;
}
.mt_50 {
	margin-top: 50px;
}

/* default-css END 
================================== */

.header-area {
	width: 100%;
	z-index: 99;
	background: var(--thmWhite);
	color: var(--thmBlack);
	text-transform: uppercase;
	overflow: hidden;
}
.header-left {
	display: flex;
	align-items: center;
	gap: 20px;
}

.logo-area {
	flex-shrink: 0;
}

.header-right {
	display: flex;
	align-items: center;
	justify-content: end;
	margin-right: 40px;
}

.header-right button {
	flex-shrink: 0;
}

.header-right a {
	padding: 23px 20px;
}

.bar__icon {
	display: none;
}

.menu-area ul {
	display: flex;
	align-items: center;
}
.menu-area nav ul li {
	list-style: none;
	display: inline-block;
}

.menu-area nav ul li a {
	display: inline-block;
	position: relative;
	padding: 24px 20px 25px;
	transition: all 0.3s;
}

.menu-area nav ul li a.active.ylw {
	background: var(--ylwColor);
	border-radius: 10px;
}

.menu-area nav ul li a.active.ylw:hover {
	color: var(--thmBlack);
}

.menu-area nav ul li a.active.red {
	background: var(--redColor);
	border-radius: 10px;
}

.menu-area nav ul li a:hover {
	background: var(--blueColor);
	color: var(--thmWhite);
	border-radius: 10px;
}

/* humbergar */
.humbergar {
	cursor: pointer;
	display: block;
	max-width: 35px;
	margin-left: auto;
	position: relative;
	z-index: 9999;
}

.humbergar span,
.humbergar span:before,
.humbergar span:after {
	cursor: pointer;
	border-radius: 1px;
	height: 2px;
	width: 34px;
	background: var(--thmBlack);
	position: relative;
	display: block;
	content: "";
	transition: all 250ms ease-in-out;
}
.humbergar span:before {
	top: -12px;
}
.humbergar span:after {
	bottom: -9px;
}

.humbergar.active span {
	background-color: transparent;
}
.humbergar.active span:before {
	top: 0px;
	transform: rotate(45deg);
}

.humbergar.active span:after {
	bottom: 2px;
	transform: rotate(-45deg);
}

/* humbarger END */

/* mobile-menu START */
.mobile-menu {
	position: fixed;
	width: 320px;
	height: calc(100vh - 60px);
	background: var(--thmWhite);
	z-index: 99;
	top: 60px;
	left: 0;
	transition: 0.3s;
	margin-left: -400px;
	padding-left: 40px;
	padding-top: 60px;
	text-transform: uppercase;
	background: var(--blueColor);
}
.siteBar {
	margin-left: 0;
}
.mobile-menu ul#pills-tab {
	margin-top: 90px;
	margin-bottom: 35px !important;
	display: block;
}
.mobile-menu nav ul li {
	list-style: none;
	display: block;
}

.mobile-menu nav ul li a {
	font-size: 16px;
	line-height: 40px;
	transition: 0.3s;
	color: var(--thmWhite);
}

/* Header section END */

/*============ Area Start =============*/
.border-btn {
	border: 2px solid;
	border-radius: 40px;
	line-height: 1.3;
	display: inline-block;
	padding: 12px 20px;
	text-transform: uppercase;
	text-align: center;
	transition: all 0.3s ease-in-out;
}

.border-btn:hover {
    background: var(--thmBlack);
    color: var(--thmWhite);
    border-color: var(--thmBlack);
}

.border-btn.red {
	border-color: var(--redColor);
}

.border-btn.red:hover {
	background: var(--redColor);
}
.border-btn.ylw {
	border-color: var(--ylwColor);
}

.border-btn.ylw:hover {
	background: var(--ylwColor);
	color: var(--thmBlack) !important;
}
.border-btn.purpal {
	color: var(--blueColor);
	border-color: var(--blueColor);
}

.border-btn.purpal:hover {
	background: var(--blueColor);
	color: var(--thmWhite) !important;
}

.btn-area {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
	padding: 50px 0;
}
.thm_btn {
	text-transform: uppercase;
	padding: 14px 24px;
	display: inline-block;
	border-radius: 40px;
	transition: all 0.3s ease-in-out;
}

.thm_btn.blue {
	background: var(--blueColor);
}

.thm_btn.blue:hover {
    background: var(--redColor);
}

.thm_btn.black {
	background: var(--thmBlack);
	color: var(--thmWhite);
}

.thm_btn.black:hover {background: var(--blueColor);}

.thm_btn.ylw {
	background: var(--ylwColor);
	color: var(--thmBlack);
}

.thm_btn.ylw:hover {
	background: var(--redColor);
}

.thm_btn.purpal {
	background: var(--blueColor);
	color: var(--thmWhite);
}

.thm_btn.purpal:hover {
	background: var(--thmBlack);
}
.thm_btn.red {
	background: var(--redColor);
	color: var(--thmBlack) !important;!i;!;
}

.thm_btn.red:hover {
	background: var(--blueColor);
	color: var(--thmWhite) !important;!i;!;
}
.f-56 {
	font-size: var(--f56);
}
.ylw-bg {
	background: var(--ylwColor) !important;
}

/*============ Area End =============*/

/*============supply-chain Area Start =============*/

.supply-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 0px;
}

.supply-grid-blk-1 {
	grid-column: span 2 / span 2;
	grid-row: span 2 / span 2;
	position: relative;
}

.supply-grid-blk-1:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: var(--redColor);
	mix-blend-mode: lighten;
}

.supply-grid-blk-1 img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: top;
	max-height: 1080px;
}

.supply-grid-blk-2 {
	grid-column: span 2 / span 2;
	grid-column-start: 3;
	background: var(--ylwColor);
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 20px;
}

.supply-grid-blk-2 p {
	font-size: var(--f18);
	max-width: 500px;
	line-height: 1;
}

.supply-grid-blk-2 h1 {
	font-size: 56px;
	max-width: 600px;
}

.supply-grid-blk-3 {
	grid-column-start: 3;
	grid-row-start: 2;
	background: var(--thmBlack);
	display: flex;
	align-items: center;
	justify-content: center;
}

.supply-grid-blk-4 {
	grid-column-start: 4;
	grid-row-start: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--colorDB);
}

.supply-grid-2 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(1, 1fr);
	gap: 0px;
}

.supply-grid-item-1 {
	background: var(--thmBlack);
	color: var(--redColor);
	padding: 40px 20px 0;
	height: 470px;
}

.supply-grid-item-1 h1 {
	max-width: 400px;
	margin: auto;
	line-height: 1;
}

.supply-grid-item-2 {
	background: var(--colorDB);
}

.supply-grid-item-3 {
	background: var(--colorDB);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 40px 0 30px;
}

.supply-grid-item-3 p {
	max-width: 490px;
}

.supply-grid-item-3 small {
	color: var(--darkRedColor);
	font-family: var(--fontAberMono);
}

.supply-chain .btn-area {
	background: var(--thmBlack);
	color: var(--thmWhite);
}

/*============supply-chain Area End =============*/

/*============ org-area Start =============*/

.org-grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(1, 1fr);
	gap: 24px;
	padding: 0 20px;
}

.org-area {
	padding-bottom: 60px;
}

.sec__title {
	padding: 80px 0;
}

.sec__title h1 {
	margin: 0;
	margin-top: 20px;
}

.sec__title small {
	text-transform: uppercase;
	font-family: var(--fontAberMono);
	color: var(--darkRedColor);
}

.org-item {
	background: var(--thmBlack);
	color: var(--thmWhite);
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 333px;
}

.org-item p {
	margin: 0;
}

.org-item i {
	width: 80px;
	height: 80px;
	display: block;
	background: var(--blueColor);
	border-radius: 50%;
}

/*============ org-area End =============*/

/*============ Area Start =============*/

/*============ Area End =============*/

/*============member Area Start =============*/

.member-area .btn-area {
	background: var(--thmWhite);
}
.member__top {
	display: flex;
	align-items: center;
	gap: 40px;
	background: var(--thmBlack);
}

.member__top i {
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--blueColor);
	flex-shrink: 0;
}

.member__top p {
	margin: 0;
	color: var(--redColor);
	font-size: var(--f24);
}

.member-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, 1fr);
	gap: 0px;
}

.member-grid-item-1 {
	grid-row: span 4 / span 4;
}

.member-grid-item-1 img {
	width: 100%;
	height: 100%;
}

.member-grid-item-2 {
	grid-row: span 2 / span 2;
	background: var(--colorDB);
	display: flex;
	flex-direction: column;
	padding: 40px;
	justify-content: space-between;
}

.member-grid-item-2 h1 {
	color: var(--blueColor);
	max-width: 530px;
}

.member-grid-item-3 {
	grid-column-start: 2;
	grid-row-start: 3;
	background: var(--redColor);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 40px;
}

.member-grid-item-3 p {
	margin: 0;
	font-size: var(--f18);
}

.member-grid-item-4 {
	grid-column-start: 2;
	grid-row-start: 4;
	background: var(--blueColor);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 40px;
	color: var(--thmWhite);
}

.member-grid-item-4 p,
.member-grid-item-2 p {
	font-size: var(--f18);
}

.member-grid-item-2 p {
	max-width: 400px;
	margin: 0;
}

/*============member Area End =============*/

/*============learn Area Start =============*/

.learn-area {
	background: var(--thmBlack);
	overflow: hidden;
	padding-bottom: 140px;
}

.learn-area .sec__title h1 {
	color: var(--ylwColor);
}

.learn-area .sec__title small {
	color: var(--colorD1);
}

.learn__slider__blk {
	display: flex;
	background: var(--colorDB);
	min-width: 580px;
	margin-right: 24px;
}
.learn__slider__img {
	width: 100px;
	flex-shrink: 0;
	background: var(--blueColor);
	position: relative;
}

.learn__slider__img:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100px;
	background: #fff;
	top: 0;
	z-index: 0;
}

.learn__slider__img picture {
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #000;
	border-radius: 50%;
	margin: auto;
	margin-top: 20px;
	position: relative;
	z-index: 9;
}
.learn__slider__content {
	padding: 40px;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.learn__slider__content p {
	min-height: 130px;
	margin: 0;
}

.user-name h5 {
	margin: 0;
}

.user-name small {
	text-transform: uppercase;
}

.glider-container {
	max-width: 100%;
	overflow: hidden;
}

.glider-slider {
	padding-left: 40px;
}

.glider-arrows {
	display: flex;
	justify-content: center;
	gap: 1rem;
	margin-top: 20px;
	position: absolute;
	right: 49px;
	width: 100px;
}

.glider-arrows button {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid var(--thmWhite);
	border-radius: 50%;
	position: unset;
}

.glider-dots {
	text-align: center;
	margin-top: 10px;
	display: none;
}

.glider-dot {
	display: inline-block;
	width: 10px;
	height: 10px;
	background: #ccc;
	border-radius: 50%;
	margin: 0 5px;
}

.glider-dot.active {
	background: #000;
}
/*============learn Area End =============*/

/*============explore Area Start =============*/

.explore-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 600px repeat(1, 1fr);
	gap: 0px;
}

.explore-area .btn-area {
	background: var(--thmBlack);
	color: var(--thmWhite);
}
.explore-grid-item-1 {
	background: var(--colorDB);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 40px;
}

.explore-grid-item-1 h1 {
	margin-bottom: 20px;
}

.explore-grid-item-1 h1 + p {
	font-size: var(--f18);
	margin: 0;
}
.explore-grid-item-2 {
	background: var(--thmBlack);
}
/*============explore Area End =============*/

/*============text-scroll Area Start =============*/
.text-scroll {
	padding: 24px 0;
	overflow: hidden;
	white-space: nowrap;
	display: flex;
	gap: 40px;
}

.past-color {
	background: var(--colorD1);
}

.text-scroll h1 {
	margin: 0;
	animation: scroll-left 10s linear infinite;
}

.text-scroll.ylw {
	background: var(--ylwColor);
	color: var(--redColor);
}

@keyframes scroll-left {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-50%);
	}
}
/*============text-scroll Area End =============*/

/*============brand Area Start =============*/

.brand-area {
	background: var(--thmWhite);
	padding: 80px 0;
	text-align: center;
}

.brand-content p {
	margin-bottom: var(--f40);
	max-width: 900px;
	margin-inline: auto;
	font-size: var(--f18);
}

.brand-content ul {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--f48);
}

.brand-content ul li a {
	width: 140px;
	height: 56px;
	display: flex;
	align-items: center;
	justify-content: center;
}
/*============brand Area End =============*/

/*============building Area Start =============*/

.building-area {
	display: flex;
}
.building-content {
	background: var(--blueColor);
	color: var(--thmWhite);
	padding: 40px;
	display: flex;
	flex-direction: column;
	height: 800px;
	width: 100%;
	justify-content: space-between;
}

.building-content h1 + p {
	max-width: 430px;
	font-size: var(--f18);
}

.building-content h1 {
	max-width: 708px;
	margin-bottom: 30px;
}
.building-img {
	width: 600px;
	flex-shrink: 0;
}

.building-img img {
	height: 100%;
	object-fit: cover;
}
/*============building Area End =============*/

/*============blog Area Start =============*/

.blog__top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.blog-area .container {
	max-width: 1400px;
}
.blog__card {
	background: var(--thmBlack);
	color: var(--thmWhite);
	position: relative;
	overflow: hidden;
}

.blog-area .row {
	gap: 24px 0;
	margin-bottom: 80px;
}
.blog__card__img {
	height: 400px;
}

.blog__card__img.ylw-2 {
	background: #f5e770;
}

.blog__card__img.red {
	background: var(--redColor);
}

.blog__card__img.blue {
	background: var(--blueColor);
}

.blog__card__img.ylw {
	background: var(--ylwColor);
}
.blog__card__content {
	padding: 16px;
	min-height: 140px;
	background: var(--thmBlack);
	position: absolute;
	left: 0;
	bottom: 0;
	transition: all 1s;
	width: 100%;
}

.blog__card:hover .blog__card__content {
	width: 100%;
	height: 100%;
	transition: all 0.3s;
}

.blog__card:hover .blog__card__content small {
	position: absolute;
	opacity: 0;
}

.blog__card:hover .blog__card__content a {
	opacity: 1;
	bottom: 20px;
}

.blog__card__content h3 {
	line-height: 1;
}

.blog__card__content > div {
	min-height: 85px;
}

.blog__card__content small {
	text-transform: uppercase;
	color: var(--colorDB);
	/* transition: all .3s; */
}

.text-ylw {
	color: var(--ylwColor) !important;
}

.blog__card__content a {
	position: absolute;
	display: block;
	opacity: 0;
	transition: all 0.3s;
}
.h-150 {
	height: 150px;
}

.paginav ul {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.paginav ul a {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: var(--f18);
	line-height: 0px;
	border: 3px solid transparent;
	border-radius: 50%;
}

.paginav ul a.active {
	border-color: var(--thmBlack);
}
/*============blog Area End =============*/

/*============banner Area Start =============*/
.banner-area {
	text-align: center;
	padding: 60px 0 80px;
	background: var(--redColor);
	margin-bottom: 60px;
}

.banner__content h1 {
	margin-bottom: 20px;
}

.banner__content p {
	margin: 0;
	font-size: var(--f18);
}

/*============banner Area End =============*/

/*============newslatter Area Start =============*/
.newslatter-area {
	background: var(--blueColor);
	text-align: center;
	padding: 80px 0;
	color: var(--thmWhite);
}

.newslatter__content p {
	font-size: var(--f18);
	margin: 0;
}
.email-box {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 24px;
	margin-top: 60px;
}

.email-box button.red {
	color: var(--thmWhite) !IMPORTANT;!I;!;
}

.email-box button.red:hover {
    background: var(--thmWhite);
    color: var(--thmBlack) !important;!i;!;
}

.email-box input {
	height: 48px;
	background: no-repeat;
	border: 2px solid var(--thmWhite);
	width: 100%;
	max-width: 360px;
	padding: 0 30px;
	border-radius: 40px;
	color: var(--redColor);
}

.email-box input::placeholder {
	color: #fff;
}

.form-check {
	width: 100%;
	display: flex;
	gap: 7px;
	max-width: 450px;
	margin: auto;
	margin-top: 10px;
}

.form-check label {
	line-height: 2;
	font-size: 12px;
}
.form-check-input {
	border-radius: 0 !important;
	background: transparent;
	border: 1px solid #fff;
	width: 12px;
	height: 12px;
}

/*============newslatter Area End =============*/

/*============Related Area Start =============*/

.blog__grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(5, 1fr);
	gap: 0px;
}

.blog__grid-item-1 {
	grid-row: span 5 / span 5;
	background: var(--thmBlack);
	color: var(--thmWhite);
	padding: 40px;
}

.blog__grid-item-1 h1 {
	margin-top: 100px;
	max-width: 640px;
	margin-bottom: 20px;
}

.blog__grid-item-1 small {
	text-transform: uppercase;
	color: var(--redColor);
}

.blog__grid-item-2 {
	grid-row: span 4 / span 4;
	background: var(--blueColor);
}

.blog__grid-item-3 {
	grid-column-start: 2;
	grid-row-start: 5;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--colorDB);
}
.Related-blog {
	padding: 80px 0;
	background: var(--colorDB);
}
/*============Related Area End =============*/

/*============ Area Start =============*/

.user__blk {
	display: flex;
	align-items: center;
	gap: 12px;
}

.user__blk i {
	width: 56px;
	height: 56px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.user__blk label {
	display: block;
	line-height: 1;
}

.user__blk small {
	color: var(--thmWhite);
}
.singel-insights-content .container {
	padding: 80px 30px;
	max-width: 700px;
}

.singel-insights-content .btn-area {
	background: var(--thmBlack);
}
/*============ Area End =============*/

/*============Events Area Start =============*/
.Events-area {
	padding: 80px 0;
}

.Events__grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(5, 1fr);
	gap: 0px;
	margin-bottom: 24px;
}
.Events__grid-item-1 {
	grid-row: span 5 / span 5;
	background: var(--blueColor);
}
.Events__grid-item-2 {
	grid-row: span 4 / span 4;
	background: var(--thmBlack);
	color: var(--thmWhite);
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}

.Events__grid-item-2 ul li {
	display: flex;
	align-items: center;
	gap: 10px;
	line-height: 2;
	font-weight: 300;
	font-size: 12px;
}

.Events__grid-item-2 ul li span {
	display: block;
	font-weight: 300;
}

.Events__grid-item-2 ul li i {
	width: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.date-top {
	width: 75px;
	height: 82px;
	background: var(--ylwColor);
	color: var(--thmBlack);
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: absolute;
	top: 0;
	right: 0;
}

.date-top h3 {
	margin: 0;
	line-height: 1;
}

.loc-info label {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 12px;
}

.loc-info label i {
	color: var(--ylwColor);
	font-weight: 400;
}

.loc-info small {
	display: block;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.Events__grid-item-3 {
	grid-column-start: 2;
	grid-row-start: 5;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--colorDB);
	padding: 20px 40px;
	gap: 20px;
	text-transform: uppercase;
}

.space-between {
	justify-content: space-between;
}
/*============Events Area End =============*/

/*============ singele-event Start =============*/

.singele-event-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(5, 1fr);
	gap: 0px;
}

.singele-event-grid-1 {
	grid-row: span 5 / span 5;
	background: var(--blueColor);
}

.singele-event-grid-2 {
	grid-row: span 4 / span 4;
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 40px;
}

.singele-event-grid-2 small {
	text-transform: uppercase;
	color: var(--blueColor);
}

.singele-event-grid-3 {
	grid-column-start: 2;
	grid-row-start: 5;
	background: var(--thmBlack);
	height: 100px;
}

.singele-event-grid-2 h1 {
	max-width: 640px;
	line-height: 1;
}

/*============ singele-event End =============*/

/*============ Event-details Start =============*/

.Event-details-content {
	padding: 80px 0;
}

.Event-details-content p {
	font-size: var(--f18);
}

.Event-details-content h1 {
	margin-bottom: 16px;
}

.Event-details .btn-area {
	background: var(--thmBlack);
	color: var(--thmWhite);
}

/*============ Event-details End =============*/

/*============ Related-events Start =============*/
.Related-events {
	padding: 40px;
	background: var(--colorDB);
}

.Related-events .Events__grid {
	display: flex;
	flex-direction: column;
}
.Related-events .Events__grid-item-2 {
	gap: 100px;
}

.Related-events .Events__grid-item-2 h3 {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	margin: 0;
}

.Related-events .Events__grid-item-3 {
	background: var(--thmWhite);
}

/*============ Related-events End =============*/

/*============ Area Start =============*/

/*============ Area End =============*/

/*============ Area Start =============*/

.footer-area {
	background: var(--thmBlack);
	color: var(--thmWhite);
	padding: 40px;
}
.footer__content {
	display: flex;
	justify-content: space-between;
}
.footer__nav {
	text-align: right;
	text-transform: uppercase;
	font-size: var(--f18);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.footer__nav p {
	font-size: 10px;
	margin: 0;
}

.terms-link a {
	font-size: 10px;
	display: block;
	margin-bottom: 5px;
}

.footer__nav ul li {
	line-height: 1.6;
}

.footer__nav ul li a {
	display: block;
	transition: all 0.3s;
}

.footer__nav ul li a:hover {
	color: var(--redColor);
}
.footer__nav .link-red {
	color: var(--redColor);
	display: block;
}
/*============ Area End =============*/
